body {
    background-image: url('/img/01.gif');
    background-size: cover;
    height: 100%;
    padding:0;
    margin:0;
}

.container-title {
    padding-top: 5rem;
}

.border-container {
    border: 2px solid #333;
}

.text-title {
    padding: 2rem;
    text-align: center;
    color: #F25270;
}

.title-data {
    font-size: 1.25rem;
    font-weight: 300;
    border: 1px solid #333;
    border-radius: 0.6em;
    color: #D94848 !important;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.title-data:hover {
    color: white !important;
    box-shadow: 0 0 40px 40px #F25270 inset;
    width: 100%;
    border-color:  #e74c3c;
}

.button-crud {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.button-crud:hover, .button-crud:focus {
    color: #fff;
    outline: 0;
}


.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
    box-shadow: 0 0 40px 40px #F25270 inset;
}

.second {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.second:hover {
    box-shadow: 0 0 40px 40px #f1c40f inset;
    color: #fff !important;
}

/*Remover hover tag a */
a.footer {
    color: #f1c40f;
}

a:hover {
    text-decoration: none;
}

h1.title {
    color: #f1c40f;
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
}

p.api-descricao {
    color: #f1c40f !important;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.bg-yellow {
    background-color: #f1c40f;
}

.text-yellow {
    color: #f1c40f;
}

input[type="text"].email,
input[type="email"].email {
    padding: 4px;
    border-radius: 5px;

}

input:invalid.email {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}

input:focus.email {
    outline: none;
}

input:focus:invalid.email {
    box-shadow: none;
}

p.email {
    color: #D94848;
}


@media screen and (max-width: 768px) {
    .border-container {
        border: 0;
    }
    .container-title {
        padding-top: 0;
    }
  }